

body{

    margin: 0px;
    padding: 0px;
    height: 600vh;
}

/* index page style */

.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    
   
}

.gift{
    display: flex;
    color: white;
    justify-content: space-around;
    font-size: 15px;
}


.search input[type=text] {
    width: 300px;
    height: 25px;
    border-radius: 25px;
    border: none;
}
 
.search {
    float: right;
    margin: 7px;
}
 
.search button {
    background-color: #0074D9;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer;
} 



/* create.html page styles */

.productF{
    max-width: 500px;
    border: 2px solid yellow;
    margin: 60px;
   
}

.productF input{
    width: 30vw;
    height: 40px;
    border-radius: 5px;
    display: flex;
    margin: 20px auto;
}

.productbtn{
    display: flex;
    align-items: center;
    justify-content: center;
}


select{
    width: 30vw;
    height: 40px;
    border-radius: 5px;
    display: flex;
    margin: 20px auto;
    font-size: 20px;


}


.video-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Set width to 100% */
    height: 100%; /* Set height to 100% */
    z-index: -6;
    object-fit: cover;
    filter: brightness(.5);
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}


.admin{
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
   
}

.adminpage{

    margin: 20px;
}

.headadmin{
    text-align: center;
    font-size: 30px;
}

.adminpanel{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    align-items: center;
    gap: 4px;
    max-width: 800px;
    margin: 20px;
    height: 80vh;
    background-color: whitesmoke;
}


.adminImg{
    width: 100%;
    align-items: center;
    justify-content: center;

}

.adminText p{
    font-size: 30px;
}


.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.adminpage {
    position: relative;
    z-index: 1;
}

.headadmin {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}

.admin {
    padding: 20px;
}

.post-button{
    text-align: center;
    background-color: pink;
    width: 8vw;
    height: 10vh;
    border-radius: 10px;
    justify-content: center;
    cursor: pointer;
}


.productsHome{
    display: grid;
    grid-template-columns: repeat(3,1fr);
   margin: 20px;
   background:whitesmoke;

}

